---
import '../style/style.less'
export interface Props {
	title: string
	deg: string
}
import Head from '../components/Head.astro'
import Navigation from '../components/Navigation.astro'
import rightIcon from '../images/right.svg'
import leftIcon from '../images/left.svg'

import { getPrevNav, getNextNav } from '../utils/nav'
const { title, deg, isBlog } = Astro.props

const nextNav = getNextNav(title)
const prevNav = getPrevNav(title)
const bgDeg = `linear-gradient(${deg}deg, #fff 50%, #93d5dc 50%)`
---

<!DOCTYPE html>
<html lang="zh">
	<Head title={title} desc={title} />
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-KHGH1PPXPW"
	></script>
	<script is:inline>
		window.dataLayer = window.dataLayer || []
		function gtag() {
			dataLayer.push(arguments)
		}
		gtag('js', new Date())

		gtag('config', 'G-KHGH1PPXPW')
	</script>
	<style define:vars={{ bgDeg }}>
		body {
			background: var(--bgDeg);
		}
	</style>

	<body>
		<div class="wrapper">
			<div class="card">
				{
					prevNav ? (
						<span class="prev">
							{' '}
							<a href={prevNav as string}>
								{' '}
								<img src={leftIcon} alt="" />
							</a>
						</span>
					) : (
						''
					)
				}
				{
					nextNav ? (
						<span class="next">
							{' '}
							<a href={nextNav as string}>
								<img src={rightIcon} alt="" />
							</a>
						</span>
					) : (
						''
					)
				}
				<Navigation activeNav={title} />
				<main>
					<slot />
				</main>
			</div>
		</div>
	</body>
</html>
